.nav-buffer {
	margin-top: 60px;
}

.static-margin-top {
	margin-top: 10%;
}

.right-aligned {
	float: right;
}

.centered {
	text-align: center;
}

h1, h2 {
	text-align: center;
}

.form-container {
	max-width: 500px;
}

.loader {
	border: 2px solid #f3f3f3;
	border-radius: 50%;
	border-top: 2px solid #265a88;
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 24px;
	margin-right: 20px;
	-webkit-animation: spin 1.5s linear infinite;
	animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.input-group-add-locale {
	width: 50px;
}

.input-group-locale {
	width: 100%;
	margin-bottom: 5px;
}

td.details-control {
	text-align: center;
	cursor: pointer;
}

.datatables.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #ffffff;
}

.datatables.table-striped>tbody>tr.odd {
	background-color: #f9f9f9;
}

.datatables.table-striped>tbody>tr.selected {
	background-color: #08C;
}

.expandLabel {
	padding-right: 20px;
    white-space: nowrap;
    width: 1%;
}

textarea {
	resize: vertical;
}

table.info-table>tbody>tr>td {
	padding-top: 5px;
	padding-bottom: 5px;
}

table {
  border-collapse: collapse;
}

table.dt-expand tr:first-child td {
	padding-top: 0px;
}

table.dt-expand tr td {
	padding-top: 10px;
}

.help-block>ul {
	list-style: none;
	padding-left: 0;
}

.file-input-ajax-new .fileinput-remove-button {
	display: inline-block;
}

.file-preview-initial .kv-file-zoom {
	display : block;
}

.kv-file-zoom {
	display : none;
}

.login-container {
	max-width : 300px;
}